<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tic.tac.toe -->
      <package
            uri="http://example.com/tictactoe"
            class="tictactoe.TictactoePackage"
            genModel="model/tic.tac.toe.genmodel"/>
   </extension>

</plugin>
